apiVersion: apps/v1
kind: Deployment
metadata:
  name: mega-store
  labels:
    app: mega-store
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mega-store
  template:
    metadata:
      labels:
        app: mega-store
    spec:
      containers:
        - name: web
          image: ghcr.io/ad-xyz/mega-store:latest
          ports:
            - name: http
              containerPort: 80
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 3
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 15
            periodSeconds: 15
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
